.ant-image-img {
  object-fit: cover !important;
  width: 480px !important;
  height: 370px !important;
  margin-top: 6px !important;
}

.slick-dots-bottom {
  line-height: 2rem !important;
}

.main {
  max-height: 70rem;
  max-width: 70rem;
  margin-left: 6rem;
  margin-top: 4rem;
}

.card-info {
  max-height: 24rem;
  width: 30rem;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.invite-client-msg {
  margin-left: 14rem;
}
