table,
th,
td {
  border: 1px solid black;
}

a {
  text-decoration: none;
}
.item {
  margin-left: 1rem;
  list-style-type: none;
  box-sizing: border-box;
  background-color: #64d467;
  padding: 14px;
  border-radius: 10px;
}

.flex-div {
  display: flex;
}

#title-row {
  background-color: #cdd6d3;
  margin: 0px;
}

#title {
  border: solid;
  border-width: 2px;
  text-align: center;
  border-color: crimson;
}
